In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#read in csv files. Only went back to 2000 for now but we can get more later if we want,
fuel_cons_2023 = pd.read_csv("https://www.nrcan.gc.ca/sites/nrcan/files/oee/files/csv/MY2023%20Fuel%20Consumption%20Ratings.csv", encoding="Windows-1252")
fuel_cons_2022 = pd.read_csv("https://www.nrcan.gc.ca/sites/nrcan/files/oee/files/csv/MY2022%20Fuel%20Consumption%20Ratings.csv", encoding="Windows-1252")
fuel_cons_2021 = pd.read_csv("https://www.nrcan.gc.ca/sites/nrcan/files/oee/files/csv/MY2021%20Fuel%20Consumption%20Ratings.csv", encoding="Windows-1252")
fuel_cons_2020 = pd.read_csv("https://www.nrcan.gc.ca/sites/nrcan/files/oee/files/csv/MY2020%20Fuel%20Consumption%20Ratings.csv", encoding="Windows-1252")
fuel_cons_2019 = pd.read_csv("https://www.nrcan.gc.ca/sites/nrcan/files/oee/files/csv/MY2019%20Fuel%20Consumption%20Ratings.csv", encoding="Windows-1252")
fuel_cons_2018 = pd.read_csv("https://www.nrcan.gc.ca/sites/nrcan/files/oee/files/csv/MY2018%20Fuel%20Consumption%20Ratings.csv", encoding="Windows-1252")
fuel_cons_2017 = pd.read_csv("https://www.nrcan.gc.ca/sites/nrcan/files/oee/files/csv/MY2017%20Fuel%20Consumption%20Ratings.csv", encoding="Windows-1252")
fuel_cons_2016 = pd.read_csv("https://www.nrcan.gc.ca/sites/nrcan/files/oee/files/csv/MY2016%20Fuel%20Consumption%20Ratings.csv", encoding="Windows-1252")
fuel_cons_2015 = pd.read_csv("https://www.nrcan.gc.ca/sites/nrcan/files/oee/files/csv/MY2015%20Fuel%20Consumption%20Ratings.csv", encoding="Windows-1252")
fuel_cons_2010_2014 = pd.read_csv("https://www.nrcan.gc.ca/sites/www.rncan.gc.ca/files/oee/files/csv/MY2010-2014%20Fuel%20Consumption%20Ratings%205-cycle.csv", encoding="Windows-1252")
fuel_cons_2005_2009 = pd.read_csv("https://www.nrcan.gc.ca/sites/www.rncan.gc.ca/files/oee/files/csv/MY2005-2009%20Fuel%20Consumption%20Ratings%205-cycle.csv", encoding="Windows-1252")
fuel_cons_2000_2004 = pd.read_csv("https://www.nrcan.gc.ca/sites/www.rncan.gc.ca/files/oee/files/csv/MY2000-2004%20Fuel%20Consumption%20Ratings%205-cycle.csv", encoding="Windows-1252")

C:\Users\apros\AppData\Local\Temp\ipykernel_34784\2667824920.py:2: DtypeWarning: Columns (0,1,2,3,4,6,7,8,9,10,11,12,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  fuel_cons_2023 = pd.read_csv("https://www.nrcan.gc.ca/sites/nrcan/files/oee/files/csv/MY2023%20Fuel%20Consumption%20Ratings.csv", encoding="Windows-1252")
C:\Users\apros\AppData\Local\Temp\ipykernel_34784\2667824920.py:3: DtypeWarning: Columns (0,1,2,3,4,6,7,8,9,10,11,12,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  fuel_cons_2022 = pd.read_csv("https://www.nrcan.gc.ca/sites/nrcan/files/oee/files/csv/MY2022%20Fuel%20Consumption%20Ratings.csv", encoding="Windows-1252")
C:\Users\apros\AppData\Local\Temp\ipykernel_34784\2667824920.py:4: DtypeWarning: Columns (0,1,2,3,4,6,7,8,9,10,11,12,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  fuel_cons_2021 = pd.read_csv("https://www.nrcan.gc.ca/sites/nrcan/files/oee/files/csv/MY2021%20Fuel%20Consumption%20Ratings.csv", encoding="Windows-1252")
C:\Users\apros\AppData\Local\Temp\ipykernel_34784\2667824920.py:5: DtypeWarning: Columns (0,1,2,3,4,6,7,8,9,10,11,12,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  fuel_cons_2020 = pd.read_csv("https://www.nrcan.gc.ca/sites/nrcan/files/oee/files/csv/MY2020%20Fuel%20Consumption%20Ratings.csv", encoding="Windows-1252")
C:\Users\apros\AppData\Local\Temp\ipykernel_34784\2667824920.py:11: DtypeWarning: Columns (4,8,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  fuel_cons_2010_2014 = pd.read_csv("https://www.nrcan.gc.ca/sites/www.rncan.gc.ca/files/oee/files/csv/MY2010-2014%20Fuel%20Consumption%20Ratings%205-cycle.csv", encoding="Windows-1252")

In [3]:
#cleaning

#drop rows of entirely NaN, then cols of entirely Nan, then rows with some NaN
#there was ~50 rows at the bottom with text explaining the data, hence the need for the last drop
cleaner_fuel_cons_2023 = fuel_cons_2023.dropna(axis=0, how='all').dropna(axis=1, how='all').dropna(axis=0)
cleaner_fuel_cons_2022 = fuel_cons_2022.dropna(axis=0, how='all').dropna(axis=1, how='all').dropna(axis=0)
cleaner_fuel_cons_2021 = fuel_cons_2021.dropna(axis=0, how='all').dropna(axis=1, how='all').dropna(axis=0)
cleaner_fuel_cons_2020 = fuel_cons_2020.dropna(axis=0, how='all').dropna(axis=1, how='all').dropna(axis=0)
cleaner_fuel_cons_2019 = fuel_cons_2019.dropna(axis=0, how='all').dropna(axis=1, how='all').dropna(axis=0)
cleaner_fuel_cons_2018 = fuel_cons_2018.dropna(axis=0, how='all').dropna(axis=1, how='all').dropna(axis=0)
cleaner_fuel_cons_2017 = fuel_cons_2017.dropna(axis=0, how='all').dropna(axis=1, how='all').dropna(axis=0)
cleaner_fuel_cons_2016 = fuel_cons_2016.dropna(axis=0, how='all').dropna(axis=1, how='all').dropna(axis=0)
cleaner_fuel_cons_2015 = fuel_cons_2015.dropna(axis=0, how='all').dropna(axis=1, how='all').dropna(axis=0)
cleaner_fuel_cons_2010_2014 = fuel_cons_2010_2014.dropna(axis=0, how='all').dropna(axis=1, how='all').dropna(axis=0)
cleaner_fuel_cons_2005_2009 = fuel_cons_2005_2009.dropna(axis=0, how='all').dropna(axis=1, how='all').dropna(axis=0)
cleaner_fuel_cons_2000_2004 = fuel_cons_2000_2004.dropna(axis=0, how='all').dropna(axis=1, how='all').dropna(axis=0)

#renaming columns. Originally they were split between the first two rows, some got lost in the cleaning.
#useful to get rid of spaces and stuff anyways
col_names = ["model_year", "make", "model", "vehicle_class", "engine_size_L", "cylinders", "transmission", 
             "fuel_type", "city_fuel_cons", "hwy_fuel_cons", "comb_lpkm", "comb_mpg", "co2_emissions", 
             "co2_rating","smog_rating"]

cleaner_fuel_cons_2023.columns = col_names
cleaner_fuel_cons_2022.columns = col_names
cleaner_fuel_cons_2021.columns = col_names
cleaner_fuel_cons_2020.columns = col_names
cleaner_fuel_cons_2019.columns = col_names
cleaner_fuel_cons_2018.columns = col_names
cleaner_fuel_cons_2017.columns = col_names

#older data has less cols, 2016 missing smog rating, 2015 and older also missing co2 rating
cleaner_fuel_cons_2016.columns = col_names[:-1]

cleaner_fuel_cons_2015.columns = col_names[:-2]
cleaner_fuel_cons_2010_2014.columns = col_names[:-2]
cleaner_fuel_cons_2005_2009.columns = col_names[:-2]
cleaner_fuel_cons_2000_2004.columns = col_names[:-2]

In [95]:
#concat

full_dataset = pd.concat([cleaner_fuel_cons_2023, cleaner_fuel_cons_2022, cleaner_fuel_cons_2021
                            , cleaner_fuel_cons_2020, cleaner_fuel_cons_2019, cleaner_fuel_cons_2018
                            , cleaner_fuel_cons_2017, cleaner_fuel_cons_2016, cleaner_fuel_cons_2015
                            , cleaner_fuel_cons_2010_2014, cleaner_fuel_cons_2005_2009
                            , cleaner_fuel_cons_2000_2004], axis=0)
full_dataset

,model_year,make,model,vehicle_class,engine_size_L,cylinders,transmission,fuel_type,city_fuel_cons,hwy_fuel_cons,comb_lpkm,comb_mpg,co2_emissions,co2_rating,smog_rating
1,2023,Acura,Integra,Full-size,1.5,4.0,AV7,Z,7.9,6.3,7.2,39,167,6,7
2,2023,Acura,Integra A-SPEC,Full-size,1.5,4.0,AV7,Z,8.1,6.5,7.4,38,172,6,7
3,2023,Acura,Integra A-SPEC,Full-size,1.5,4.0,M6,Z,8.9,6.5,7.8,36,181,6,6
4,2023,Acura,MDX SH-AWD,SUV: Small,3.5,6.0,AS10,Z,12.6,9.4,11.2,25,263,4,5
5,2023,Acura,MDX SH-AWD Type S,SUV: Standard,3.0,6.0,AS10,Z,13.8,11.2,12.4,23,291,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3772,2004,VOLVO,V70 T5 TURBO,STATION WAGON - MID-SIZE,2.3,5.0,AS5,Z,14.4,10.2,12.5,23,288,NaN,NaN
3773,2004,VOLVO,V70 T5 TURBO,STATION WAGON - MID-SIZE,2.3,5.0,M5,Z,13.4,9.8,11.8,24,271,NaN,NaN
3774,2004,VOLVO,XC70 AWD TURBO,SUV,2.5,5.0,AS5,Z,14.2,10.4,12.5,23,288,NaN,NaN
3775,2004,VOLVO,XC90 2.5T AWD TURBO,SUV,2.5,5.0,AS5,Z,14.9,10.7,13.0,22,299,NaN,NaN
3776,2004,VOLVO,XC90 T6 AWD TURBO,SUV,2.9,6.0,AS5,Z,17.3,12.5,15.1,19,347,NaN,NaN

In [96]:
# update the fuel types from letters to their actual meanings
full_dataset["fuel_type"].replace({"X": "Regular Gasoline",
                                     "Z": "Premium Gasoline",
                                     "D": "Diesel",
                                     "E": "Ethanol",
                                     "N": "Natural Gas"}, inplace = True)
# view data types
print(full_dataset.dtypes)

model_year         object
make               object
model              object
vehicle_class      object
engine_size_L      object
cylinders         float64
transmission       object
fuel_type          object
city_fuel_cons     object
hwy_fuel_cons      object
comb_lpkm          object
comb_mpg           object
co2_emissions      object
co2_rating         object
smog_rating        object
dtype: object

In [97]:
# convert strings to numbers
full_dataset["model_year"] = full_dataset["model_year"].astype(int)
cols = ["engine_size_L", "city_fuel_cons", "hwy_fuel_cons", "comb_lpkm", "comb_mpg", "co2_emissions", "co2_rating", "smog_rating"]
full_dataset[cols] = full_dataset[cols].astype(float)

# checking new data types
print(full_dataset.dtypes)

model_year          int32
make               object
model              object
vehicle_class      object
engine_size_L     float64
cylinders         float64
transmission       object
fuel_type          object
city_fuel_cons    float64
hwy_fuel_cons     float64
comb_lpkm         float64
comb_mpg          float64
co2_emissions     float64
co2_rating        float64
smog_rating       float64
dtype: object

In [7]:
full_dataset_year_as_index = full_dataset.set_index("model_year")
years = full_dataset_year_as_index.groupby("model_year")

ax = years.mean()["comb_mpg"].plot(kind="bar", figsize=(10, 6))
fig = ax.get_figure()
ax.set_ylim(0, 30)
ax.set_title("Average Fuel Efficiency by Year Aggregated Across all Makes and Manufacturers")
ax.set_xlabel("Year")
ax.set_ylabel("Combined Fuel Economy (mpg)")
ax.yaxis.grid(True, color="black", alpha = 0.4, linestyle='--')

NameError: name 'full_dataset' is not defined

# Retrieving RnD Expense

In [10]:
! pip install tabula-py

Collecting tabula-py
  Downloading tabula_py-2.7.0-py3-none-any.whl (12.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 34.4 MB/s eta 0:00:0000:0100:01
Collecting distro
  Downloading distro-1.8.0-py3-none-any.whl (20 kB)
Requirement already satisfied: numpy in /Users/kaigroden-gilchrist/opt/anaconda3/lib/python3.9/site-packages (from tabula-py) (1.24.2)
Requirement already satisfied: pandas>=0.25.3 in /Users/kaigroden-gilchrist/opt/anaconda3/lib/python3.9/site-packages (from tabula-py) (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/kaigroden-gilchrist/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/kaigroden-gilchrist/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.25.3->tabula-py) (2022.7.1)
Requirement already satisfied: six>=1.5 in /Users/kaigroden-gilchrist/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=0.25.3->tabula-py) (1.16.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.8.0 tabula-py-2.7.0

In [85]:
import tabula
from datetime import datetime

In [195]:
#scraping earnings data

#feed in URL and extract all tables from the pdf
url = "https://global.toyota/pages/global_toyota/ir/financial-results/2022_4q_summary_en.pdf"
all_dfs = tabula.read_pdf(url, pages='all', multiple_tables=True)
all_dfs

Got stderr: Mar. 30, 2023 2:13:59 P.M. org.apache.fontbox.ttf.CmapSubtable processSubtype14
WARNING: Format 14 cmap table is not supported and will be ignored
Mar. 30, 2023 2:13:59 P.M. org.apache.fontbox.ttf.CmapSubtable processSubtype14
WARNING: Format 14 cmap table is not supported and will be ignored
Mar. 30, 2023 2:14:00 P.M. org.apache.fontbox.ttf.CmapSubtable processSubtype14
WARNING: Format 14 cmap table is not supported and will be ignored
Mar. 30, 2023 2:14:00 P.M. org.apache.fontbox.ttf.CmapSubtable processSubtype14
WARNING: Format 14 cmap table is not supported and will be ignored
Mar. 30, 2023 2:14:00 P.M. org.apache.fontbox.ttf.CmapSubtable processSubtype14
WARNING: Format 14 cmap table is not supported and will be ignored

[  Unnamed: 0       Unnamed: 1  Unnamed: 2        Unnamed: 3      Unnamed: 4  \
 0        NaN              NaN         NaN               NaN   Income before
 1        NaN   Sales revenues         NaN  Operating income             NaN
 2        NaN              NaN         NaN               NaN    income taxes
 3        NaN              NaN         NaN               NaN             NaN
 4        NaN    Million yen %         NaN     Million yen %   Million yen %
 5     FY2022  31,379,507 15.3         NaN    2,995,697 36.3  3,990,532 36.1
 6     FY2021  27,214,594 -8.9         NaN    2,197,748 -8.4   2,932,354 5.0

    Unnamed: 5   Unnamed: 6 Unnamed: 7       Net income  Unnamed: 8  \
 0         NaN          NaN        NaN  attributable to         NaN
 1         NaN   Net income        NaN              NaN         NaN
 2         NaN          NaN        NaN     Toyota Motor         NaN
 3         NaN          NaN        NaN      Corporation         NaN
 4         NaN  Million yen          %    Million yen %         NaN
 5         NaN    2,874,614       25.9   2,850,110 26.9         NaN
 6         NaN    2,282,378        8.1   2,245,261 10.3         NaN

         Unnamed: 9
 0    Comprehensive
 1              NaN
 2           income
 3              NaN
 4    Million yen %
 5   4,017,742 21.9
 6  3,294,854 105.6  ,
   Unnamed: 0              Earnings per share Earnings per share  \
 0        NaN  income taxes andattributable to Toyota attribu...
 1        NaN                                                NaN
 2        NaN                Motor Corporation Motor Corporation
 3        NaN                                                NaN
 4        NaN                                 – Basic  – Diluted
 5        NaN                                            Yen Yen
 6     FY2022                                      205.23 205.23
 7     FY2021                                      160.65 158.93

         Ratio of net income Ratio of income before  Unnamed: 1  \
 0    attributable to Toyota                    NaN         NaN
 1      Motor Corporation to  equity in earnings of         NaN
 2                       NaN                    NaN         NaN
 3  Toyota Motor Corporation   affiliated companies         NaN
 4      shareholders' equity        to total assets         NaN
 5                         %                      %         NaN
 6                      11.5                    6.1         NaN
 7                      10.2                    5.0         NaN

                   Unnamed: 2
 0  Ratio of operating income
 1                        NaN
 2          to sales revenues
 3                        NaN
 4                        NaN
 5                          %
 6                        9.5
 7                        8.1  ,
   Unnamed: 0                                   Unnamed: 1  \
 0        NaN  CorporationTotal assets Total shareholders'
 1        NaN                                       equity
 2        NaN                                          NaN
 3        NaN                      Million yen Million yen
 4     FY2022                        67,688,771 27,154,820
 5     FY2021                        62,267,140 24,288,329

                   Toyota Motor Toyota Motor Ratio of Unnamed: 2
 0                           Corporation Toyota Motor        NaN
 1  Corporationshareholders' equity shareholders' ...        NaN
 2                     shareholders' equity per share        NaN
 3                                      Million yen %        Yen
 4                           26,245,969 38.8 1,904.88        NaN
 5                           23,404,547 37.6 1,674.18        NaN  ,
   Unnamed: 0                 Unnamed: 1                 Unnamed: 2  \
 0        NaN  From operating activities  From investing activities
 1        NaN                        NaN                        NaN
 2        NaN                Million yen                Million yen
 3     FY2022                  3,722,615                  (577,496)
 4     FY2021                  2,727,162                (4,684,175)

                   Unnamed: 3 Cash and cash equivalents
 0  From financing activities                       NaN
 1                        NaN            at end of year
 2                Million yen               Million yen
 3                (2,466,516)                 6,113,655
 4                  2,739,174                 5,100,857  ,
     Unnamed: 0      Annual cash dividends per common share        Unnamed: 1  \
 0          NaN                             Total amount of  Dividends payout
 1          NaN         End of End of End of cash dividends             ratio
 2          NaN  first second third Year-end Total (annual)    (consolidated)
 3          NaN                     quarter quarter quarter               NaN
 4          NaN             Yen Yen Yen Yen Yen Million yen               NaN
 5       FY2021            - 105.00 - 135.00 240.00 671,029               NaN
 6       FY2022                  - 120.00 - 28.00 - 718,211               NaN
 7       FY2023                                         NaN               NaN
 8  -(forecast)                                   - - - - -               NaN

   Unnamed: 2  Unnamed: 3   Ratio of total amount
 0        NaN         NaN  of dividends to Toyota
 1        NaN         NaN       Motor Corporation
 2        NaN         NaN    shareholders' equity
 3        NaN         NaN          (consolidated)
 4          %         NaN                       %
 5       29.8         NaN                     3.0
 6       25.3         NaN                     2.9
 7        NaN         NaN                     NaN
 8        NaN         NaN                     NaN  ,
   Unnamed: 0      Unnamed: 1 Unnamed: 2        Unnamed: 3  Unnamed: 4  \
 0        NaN             NaN        NaN               NaN         NaN
 1        NaN  Sales revenues        NaN  Operating income         NaN
 2        NaN             NaN        NaN               NaN         NaN
 3        NaN             NaN        NaN               NaN         NaN
 4        NaN     Million yen          %     Million yen %         NaN
 5  Full-year      33,000,000        5.2   2,400,000 -19.9         NaN

              Unnamed: 5       Net income Unnamed: 6      Earnings per share
 0  Income before income  attributable to        NaN  attributable to Toyota
 1                   NaN              NaN        NaN                     NaN
 2                 taxes     Toyota Motor        NaN       Motor Corporation
 3                   NaN      Corporation        NaN                 – Basic
 4         Million yen %      Million yen          %                     Yen
 5       3,130,000 -21.6        2,260,000      -20.7                  164.03  ,
   Unnamed: 0 Net revenues Unnamed: 1 Operating income Unnamed: 2  \
 0        NaN  Million yen          %      Million yen          %
 1     FY2022   12,607,858        7.2        1,129,689       61.5
 2     FY2021   11,761,405       -7.6          699,373      -28.5

   Ordinary income Unnamed: 3   Net income Unnamed: 4
 0     Million yen          %  Million yen          %
 1       2,171,530       15.1    1,693,947        3.4
 2       1,886,691        8.7    1,638,057       15.0  ,
   Unnamed: 0 Net income per  Unnamed: 1 Net income per.1
 0        NaN   common share         NaN     common share
 1        NaN        - Basic         NaN        - Diluted
 2        NaN            Yen         NaN              Yen
 3     FY2022         121.98         NaN           121.97
 4     FY2021         116.56         NaN           115.31,
   Unnamed: 0 Total assets   Net assets  Equity ratio Unnamed: 1  \
 0        NaN  Million yen  Million yen           NaN          %
 1     FY2022   20,991,040   14,607,272           NaN       69.6
 2     FY2021   21,198,281   13,894,021           NaN       65.5

   Net assets per common share
 0                         Yen
 1                    1,060.16
 2                      959.55  ,
                                            Unnamed: 0 March 31, 2021  \
 0                                               ssets            NaN
 1                                      Current assets            NaN
 2                           Cash and cash equivalents      5,100,857
 3                Trade accounts and other receivables      2,958,742
 4           Receivables related to financial services      6,756,189
 5                              Other financial assets      4,215,457
 6                                         Inventories      2,888,028
 7                               Income tax receivable        112,458
 8                                Other current assets        745,070
 9                                Total current assets     22,776,800
 10                                 Non-current assets            NaN
 11  Investments accounted for using the equity method      4,160,803
 12          Receivables related to financial services     12,449,525
 13                             Other financial assets      9,083,914
 14                      Property, plant and equipment            NaN
 15                                               Land      1,345,037
 16                                          Buildings      4,999,206
 17                            Machinery and equipment     12,753,951
 18         Vehicles and equipment on operating leases      6,203,721
 19                           Construction in progress        675,875
 20       Total property, plant and equipment, at cost     25,977,791
 21  Less - Accumulated depreciation and impairment...   (14,566,638)
 22           Total property, plant and equipment, net     11,411,153
 23                                Right of use assets        390,144
 24                                  Intangible assets      1,108,634
 25                                Deferred tax assets        336,224
 26                           Other non-current assets        549,942
 27                           Total non-current assets     39,490,339
 28                                       Total assets     62,267,140

    March 31, 2022
 0             NaN
 1             NaN
 2       6,113,655
 3       3,142,832
 4       7,181,327
 5       2,507,248
 6       3,821,356
 7         163,925
 8         791,947
 9      23,722,290
 10            NaN
 11      4,837,895
 12     14,583,130
 13      9,517,267
 14            NaN
 15      1,361,791
 16      5,284,620
 17     13,982,362
 18      6,781,229
 19        565,528
 20     27,975,530
 21   (15,648,890)
 22     12,326,640
 23        448,412
 24      1,191,966
 25        342,202
 26        718,968
 27     43,966,482
 28     67,688,771  ,
                                            Unnamed: 0 March 31, 2021  \
 0                                         Liabilities            NaN
 1                                 Current liabilities            NaN
 2                   Trade accounts and other payables      4,045,939
 3    Short-term and current portion of long-term debt     12,212,060
 4                                    Accrued expenses      1,397,140
 5                         Other financial liabilities        763,875
 6                                Income taxes payable        350,880
 7                   Liabilities for quality assurance      1,482,872
 8                           Other current liabilities      1,207,700
 9                           Total current liabilities     21,460,466
 10                            Non-current liabilities            NaN
 11                                     Long-term debt     13,447,575
 12                        Other financial liabilities        323,432
 13                     Retirement benefit liabilities      1,035,096
 14                           Deferred tax liabilities      1,247,220
 15                      Other non-current liabilities        465,021
 16                      Total non-current liabilities     16,518,344
 17                                  Total liabilities     37,978,811
 18                               Shareholders' equity            NaN
 19                                       Common stock        397,050
 20                         Additional paid-in capital        497,275
 21                                  Retained earnings     24,104,176
 22                         Other components of equity      1,307,726
 23                                     Treasury stock    (2,901,680)
 24  Total Toyota Motor Corporation shareholders' e...     23,404,547
 25                          Non-controlling interests        883,782
 26                         Total shareholders' equity     24,288,329
 27         Total liabilities and shareholders' equity     62,267,140

    March 31, 2022
 0             NaN
 1             NaN
 2       4,292,092
 3      11,187,839
 4       1,520,446
 5       1,046,050
 6         826,815
 7       1,555,711
 8       1,413,208
 9      21,842,161
 10            NaN
 11     15,308,519
 12        461,583
 13      1,022,749
 14      1,354,794
 15        544,145
 16     18,691,790
 17     40,533,951
 18            NaN
 19        397,050
 20        498,575
 21     26,453,126
 22      2,203,254
 23    (3,306,037)
 24     26,245,969
 25        908,851
 26     27,154,820
 27     67,688,771  ,
                                            Unnamed: 0 For the year ended  \
 0                                                 NaN     March 31, 2021
 1                                      Sales revenues                NaN
 2                                   Sales of products         25,077,398
 3                                  Financial services          2,137,195
 4                                Total sales revenues         27,214,594
 5                                  Costs and expenses                NaN
 6                               Cost of products sold         21,199,890
 7                          Cost of financial services          1,182,330
 8                 Selling, general and administrative          2,634,625
 9                            Total costs and expenses         25,016,845
 10                                   Operating income          2,197,748
 11  Share of profit (loss) of investments accounte...                NaN
 12                                                NaN            351,029
 13                            using the equity method                NaN
 14                               Other finance income            435,229
 15                                Other finance costs           (47,537)
 16                  Foreign exchange gain (loss), net             15,142
 17                           Other income (loss), net           (19,257)
 18                         Income before income taxes          2,932,354
 19                                 Income tax expense            649,976
 20                                         Net income          2,282,378
 21                         Net income attributable to                NaN
 22                           Toyota Motor Corporation          2,245,261
 23                          Non-controlling interests             37,118
 24                                         Net income          2,282,378
 25                                                NaN                NaN
 26  Earnings per share attributable to Toyota Moto...                NaN
 27                                              Basic             160.65
 28                                            Diluted             158.93

    Unnamed: 1 For the year ended.1
 0         NaN       March 31, 2022
 1         NaN                  NaN
 2         NaN           29,073,428
 3         NaN            2,306,079
 4         NaN           31,379,507
 5         NaN                  NaN
 6         NaN           24,250,784
 7         NaN            1,157,050
 8         NaN            2,975,977
 9         NaN           28,383,811
 10        NaN            2,995,697
 11        NaN                  NaN
 12        NaN              560,346
 13        NaN                  NaN
 14        NaN              334,760
 15        NaN             (43,997)
 16        NaN              216,187
 17        NaN             (72,461)
 18        NaN            3,990,532
 19        NaN            1,115,918
 20        NaN            2,874,614
 21        NaN                  NaN
 22        NaN            2,850,110
 23        NaN               24,504
 24        NaN            2,874,614
 25        Yen                  NaN
 26        NaN                  NaN
 27        NaN               205.23
 28        NaN               205.23  ,
               Remeasurements of defined benefit plans    216,272    136,250
 0   Share of other comprehensive income of equity ...     80,472    113,641
 1   Total of items that will not be reclassified t...    684,172    200,648
 2   Items that may be reclassified subsequently to...        NaN        NaN
 3   Exchange differences on translating foreign op...    403,636    902,844
 4   Net changes in revaluation of financial assets...        NaN        NaN
 5                                                 NaN   (83,503)  (154,174)
 6                  through other comprehensive income        NaN        NaN
 7   Share of other comprehensive income of equity ...      8,172    193,811
 8   Total of items that may be reclassified subseq...    328,305    942,480
 9        Total other comprehensive income, net of tax  1,012,476  1,143,129
 10                               Comprehensive income  3,294,854  4,017,742
 11  Comprehensive income for the period attributab...        NaN        NaN
 12                           Toyota Motor Corporation  3,217,806  3,954,350
 13                          Non-controlling interests     77,048     63,392
 14                               Comprehensive income  3,294,854  4,017,742,
                      Unnamed: 0 Unnamed: 1  Unnamed: 2  Unnamed: 3  \
 0                           NaN        NaN  Additional         NaN
 1                           NaN     Common         NaN    Retained
 2                           NaN        NaN     paid-in         NaN
 3                           NaN      stock         NaN    earnings
 4                           NaN        NaN     capital         NaN
 5                           NaN        NaN         NaN         NaN
 6     Balances at April 1, 2020    397,050     489,334  22,234,061
 7          Comprehensive income        NaN         NaN         NaN
 8                    Net income          -           -   2,245,261
 9           Other comprehensive        NaN         NaN         NaN
 10  1,012,476income, net of tax          -           -           -
 11          Total comprehensive        NaN         NaN         NaN
 12              3,294,854income          -           -   2,245,261

     Unnamed: 4   Unnamed: 5        Toyota Motor     Unnamed: 6
 0        Other          NaN                Non-          Total
 1          NaN     Treasury         Corporation            NaN
 2   components          NaN         controlling  shareholders'
 3          NaN        stock       shareholders'            NaN
 4    of equity          NaN                 NaN            NaN
 5          NaN          NaN    equity interests         equity
 6      585,549  (3,087,106)  20,618,888 720,124     21,339,012
 7          NaN          NaN                 NaN            NaN
 8            -            -    2,245,261 37,118      2,282,378
 9          NaN          NaN                 NaN            NaN
 10     972,546            -      972,546 39,930            NaN
 11         NaN          NaN                 NaN            NaN
 12     972,546            -    3,217,806 77,048            NaN  ,
                                            Unnamed: 0 For the year ended  \
 0                                                 NaN     March 31, 2021
 1                  sh flows from operating activities                NaN
 2                                          Net income          2,282,378
 3                       Depreciation and amortization          1,644,290

In [201]:
#find the table which contains the R&D expenses
for df in all_dfs:
    if 'R&D Expenses (billions of yen)' in df.values:
        RnD_df = df
        RnD_df.reset_index(drop=True, inplace=True)
        break
        
RnD_df = RnD_df.set_index("Unnamed: 0")
print(RnD_df)

                                                                 FY2021  \
Unnamed: 0
NaN                                                                 NaN
NaN                                                               1Q 2Q
NaN                                               (2020/4-6) (2020/7-9)
R&D Expenses (billions of yen)                              280.7 286.8
Depreciation Expenses (Note 7) (billions of yen)            204.0 221.0
Geographic Information                                              NaN
Japan                                                        98.1 109.8
North America                                                 59.0 60.6
Europe                                                        14.1 15.1
Asia                                                          25.9 28.6
Other                                                           6.7 6.8
Capital Expenditures (billions of yen)                      260.3 325.2
Geographic Information                                              NaN
Japan                                                       147.1 160.0
North America                                                54.8 107.1
Europe                                                        14.8 15.9
Asia                                                          35.2 33.0
Other                                                           8.3 8.9
Total Liquid Assets (billions of yen)                  9,451.8 10,238.7
Total Assets (billions of yen)                        55,916.5 56,483.8
Toyota Motor Corporation                                            NaN
Shareholders' Equity (billions of yen)                20,713.9 21,010.8
Return on Equity (%)                                            3.1 9.0
Return on Asset (%)                                             1.2 3.3
Number of Consolidated Subsidiaries                                 NaN
(including Structured Entities)                                     NaN
Number of Associates and Joint Ventures                             NaN
Accounted for Using the Equity Method                               NaN

                                                    Unnamed: 1  Unnamed: 2  \
Unnamed: 0
NaN                                                        NaN         NaN
NaN                                                         3Q          4Q
NaN                                               (2020/10-12)  (2021/1-3)
R&D Expenses (billions of yen)                           265.8       256.9
Depreciation Expenses (Note 7) (billions of yen)         217.8       234.0
Geographic Information                                     NaN         NaN
Japan                                                    101.1       115.6
North America                                             60.4        62.1
Europe                                                    16.3        15.4
Asia                                                      32.3        33.0
Other                                                      7.4         7.7
Capital Expenditures (billions of yen)                   316.1       391.4
Geographic Information                                     NaN         NaN
Japan                                                    157.5       247.9
North America                                             68.2        60.9
Europe                                                    21.2        30.9
Asia                                                      58.3        34.4
Other                                                     10.7        17.1
Total Liquid Assets (billions of yen)                 10,621.2    11,579.4
Total Assets (billions of yen)                        58,010.3    62,267.1
Toyota Motor Corporation                                   NaN         NaN
Shareholders' Equity (billions of yen)                21,804.1    23,404.5
Return on Equity (%)                                      15.7        13.8
Return on Asset (%)                                        5.9         5.2
Number of Consolidated Subsidiaries                        NaN         NaN
(including Structured Entities)                            NaN         NaN
Number of Associates and Joint Ventures                    NaN         NaN
Accounted for Using the Equity Method                      NaN         NaN

                                                     Unnamed: 3      FY2022  \
Unnamed: 0
NaN                                                         NaN         NaN
NaN                                                   12 months          1Q
NaN                                               ('20/4-'21/3)  (2021/4-6)
R&D Expenses (billions of yen)                          1,090.4       274.1
Depreciation Expenses (Note 7) (billions of yen)          876.9       241.7
Geographic Information                                      NaN         NaN
Japan                                                     424.7       116.8
North America                                             242.3        63.9
Europe                                                     61.0        18.3
Asia                                                      120.0        33.2
Other                                                      28.7         9.3
Capital Expenditures (billions of yen)                  1,293.2       279.0
Geographic Information                                      NaN         NaN
Japan                                                     712.7       135.7
North America                                             291.2        74.5
Europe                                                     83.0        25.2
Asia                                                      161.1        36.9
Other                                                      45.1         6.5
Total Liquid Assets (billions of yen)                  11,579.4    10,318.6
Total Assets (billions of yen)                         62,267.1    61,651.1
Toyota Motor Corporation                                    NaN         NaN
Shareholders' Equity (billions of yen)                 23,404.5    24,123.0
Return on Equity (%)                                       10.2        15.1
Return on Asset (%)                                         3.9         5.8
Number of Consolidated Subsidiaries                         NaN         NaN
(including Structured Entities)                             544         NaN
Number of Associates and Joint Ventures                     NaN         NaN
Accounted for Using the Equity Method                       169         NaN

                                                  Unnamed: 4    Unnamed: 5  \
Unnamed: 0
NaN                                                      NaN           NaN
NaN                                                       2Q            3Q
NaN                                               (2021/7-9)  (2021/10-12)
R&D Expenses (billions of yen)                         276.0         294.8
Depreciation Expenses (Note 7) (billions of yen)       229.2         261.7
Geographic Information                                   NaN           NaN
Japan                                                   99.2         125.4
North America                                           68.1          73.5
Europe                                                  19.3          17.6
Asia                                                    32.5          34.2
Other                                                   10.0          10.7
Capital Expenditures (billions of yen)                 358.9         279.6
Geographic Information                                   NaN           NaN
Japan                                                  157.8         149.2
North America                                          151.9          72.2
Europe                                                  19.7          17.8
Asia                                                    24.4          36.1
Other                                                    4.9           4.2
Total Liquid Assets (billions of yen)               10,270.8      10,193.3
Total Assets (billions of yen)                      61,758.8      63,618.0
Toyota Motor Corporation                                 NaN           NaN
Shareholders' Equity (billions of yen)              24,610.4      24,939.5
Return on Equity (%)                                    10.3          12.8
Return on Asset (%)                                      4.1           5.1
Number of Consolidated Subsidiaries                      NaN           NaN
(including Structured Entities)                          NaN           NaN
Number of Associates and Joint Ventures                  NaN           NaN
Accounted for Using the Equity Method                    NaN           NaN

                                                  Unnamed: 6     Unnamed: 7  \
Unnamed: 0
NaN                                                      NaN            NaN
NaN                                                       4Q      12 months
NaN                                               (2022/1-3)  ('21/4-'22/3)
R&D Expenses (billions of yen)                         279.2        1,124.2
Depreciation Expenses (Note 7) (billions of yen)       274.5        1,007.2
Geographic Information                                   NaN            NaN
Japan                                                  121.4          463.0
North America                                           81.0          286.7
Europe                                                  20.8           76.2
Asia                                                    38.2          138.2
Other                                                   12.9           43.0
Capital Expenditures (billions of yen)                 425.4        1,343.0
Geographic Information                                   NaN            NaN
Japan                                                  231.8          674.6
North America                                          104.8          403.6
Europe                                                  19.0           81.8
Asia                                                    51.2          148.7
Other                                                   18.4           34.1
Total Liquid Assets (billions of yen)               10,517.3       10,517.3
Total Assets (billions of yen)                      67,688.7       67,688.7
Toyota Motor Corporation                                 NaN            NaN
Shareholders' Equity (billions of yen)              26,245.9       26,245.9
Return on Equity (%)                                     8.3           11.5
Return on Asset (%)                                      3.3            4.4
Number of Consolidated Subsidiaries                      NaN            NaN
(including Structured Entities)                          NaN            559
Number of Associates and Joint Ventures                  NaN            NaN
Accounted for Using the Equity Method                    NaN            169

                                                         FY2023 Unnamed: 8
Unnamed: 0
NaN                                                    Forecast        NaN
NaN                                                   12 months        NaN
NaN                                               ('22/4-'23/3)        NaN
R&D Expenses (billions of yen)                          1,130.0   (Note 6)
Depreciation Expenses (Note 7) (billions of yen)        1,060.0        NaN
Geographic Information                                      NaN        NaN
Japan                                                       NaN        NaN
North America                                               NaN        NaN
Europe                                                      NaN        NaN
Asia                                                        NaN        NaN
Other                                                       NaN        NaN
Capital Expenditures (billions of yen)                  1,400.0   (Note 7)
Geographic Information                                      NaN        NaN
Japan                                                       NaN        NaN
North America                                               NaN        NaN
Europe                                                      NaN        NaN
Asia                                                        NaN        NaN
Other                                                       NaN        NaN
Total Liquid Assets (billions of yen)                  (Note 8)        NaN
Total Assets (billions of yen)                              NaN        NaN
Toyota Motor Corporation                                    NaN        NaN
Shareholders' Equity (billions of yen)                      NaN        NaN
Return on Equity (%)                                        NaN        NaN
Return on Asset (%)                                         NaN        NaN
Number of Consolidated Subsidiaries                         NaN        NaN
(including Structured Entities)                             NaN        NaN
Number of Associates and Joint Ventures                     NaN        NaN
Accounted for Using the Equity Method                       NaN        NaN

In [202]:
#get full-year cols, remove the forecast col if present
filtered_RnD_df = RnD_df.loc[:, RnD_df.apply(lambda x: '12 months' in x.values)]
forecast_col = filtered_RnD_df.applymap(lambda x: "Forecast" in str(x)).any()
filtered_RnD_df = filtered_RnD_df.drop(columns=filtered_RnD_df.columns[forecast_col])
filtered_RnD_df

                                                     Unnamed: 3     Unnamed: 7
Unnamed: 0
NaN                                                         NaN            NaN
NaN                                                   12 months      12 months
NaN                                               ('20/4-'21/3)  ('21/4-'22/3)
R&D Expenses (billions of yen)                          1,090.4        1,124.2
Depreciation Expenses (Note 7) (billions of yen)          876.9        1,007.2
Geographic Information                                      NaN            NaN
Japan                                                     424.7          463.0
North America                                             242.3          286.7
Europe                                                     61.0           76.2
Asia                                                      120.0          138.2
Other                                                      28.7           43.0
Capital Expenditures (billions of yen)                  1,293.2        1,343.0
Geographic Information                                      NaN            NaN
Japan                                                     712.7          674.6
North America                                             291.2          403.6
Europe                                                     83.0           81.8
Asia                                                      161.1          148.7
Other                                                      45.1           34.1
Total Liquid Assets (billions of yen)                  11,579.4       10,517.3
Total Assets (billions of yen)                         62,267.1       67,688.7
Toyota Motor Corporation                                    NaN            NaN
Shareholders' Equity (billions of yen)                 23,404.5       26,245.9
Return on Equity (%)                                       10.2           11.5
Return on Asset (%)                                         3.9            4.4
Number of Consolidated Subsidiaries                         NaN            NaN
(including Structured Entities)                             544            559
Number of Associates and Joint Ventures                     NaN            NaN
Accounted for Using the Equity Method                       169            169

In [174]:
#set col names to year 

#find row with date - only row which contains an apostrophe is date row
#had to drop NaNs first or else error
filtered_RnD_df = filtered_RnD_df.dropna(how='all')
date_values = filtered_RnD_df.loc[filtered_RnD_df["Unnamed: 3"].str.contains("'")].values

#convert date ranges to the year
#probably is a cleaner way to do this, but since they're the same format I just substringed to get the year 
#and added 2000
fiscal_yr = []
for date_range in date_values[0].tolist():
    end_date_yr = date_range[8:10]
    year = int(end_date_yr) + 2000
    fiscal_yr.append(year)
    
#assign years as col names
filtered_RnD_df.columns = fiscal_yr
filtered_RnD_df

                                                           2019           2020
Unnamed: 0
NaN                                                   12 months      12 months
NaN                                               ('18/4-'19/3)  ('19/4-'20/3)
R&D Expenses (billions of yen)                          1,048.8        1,110.3
NaN                                                       984.8          812.8
Japan                                                     548.2          376.4
North America                                             209.1          220.3
Europe                                                     48.7           52.6
Asia                                                      141.9          130.5
Other                                                      36.7           32.9
Capital Expenditures (billions of yen)                  1,465.8        1,393.0
Japan                                                     730.6          747.6
North America                                             412.4          353.9
Europe                                                    133.8          105.4
Asia                                                      113.3          127.4
Other                                                      75.5           58.5
Total Liquid Assets (billions of yen)                   9,454.4        8,685.1
Total Assets (billions of yen)                         51,936.9       52,680.4
20,060.6  Shareholders' Equity (billions of yen)       19,348.1            NaN
Return on Equity (%)                                        9.8           10.4
Return on Asset (%)                                         3.7            4.0
(including Variable Interest Entities)                      608            528
72  for Under the Equity Method                              63            NaN

In [179]:
#extract to dict

toyota_rnd_expenses = filtered_RnD_df.loc["R&D Expenses (billions of yen)"]
toyota_rnd_dict = toyota_rnd_expenses.to_dict()
toyota_rnd_dict

{2019: '1,048.8', 2020: '1,110.3'}

In [177]:
toyota_rnd_dict = {}

{}

## Copying the above into a single function:

In [10]:
! pip install tabula-py

Collecting tabula-py
  Downloading tabula_py-2.7.0-py3-none-any.whl (12.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 34.4 MB/s eta 0:00:0000:0100:01
Collecting distro
  Downloading distro-1.8.0-py3-none-any.whl (20 kB)
Requirement already satisfied: numpy in /Users/kaigroden-gilchrist/opt/anaconda3/lib/python3.9/site-packages (from tabula-py) (1.24.2)
Requirement already satisfied: pandas>=0.25.3 in /Users/kaigroden-gilchrist/opt/anaconda3/lib/python3.9/site-packages (from tabula-py) (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/kaigroden-gilchrist/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/kaigroden-gilchrist/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.25.3->tabula-py) (2022.7.1)
Requirement already satisfied: six>=1.5 in /Users/kaigroden-gilchrist/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=0.25.3->tabula-py) (1.16.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.8.0 tabula-py-2.7.0

In [85]:
import tabula
from datetime import datetime

In [207]:
def retrieve_toyota_rnd_exp(url):
    """
    Parse the RnD Expense for each year from the given url (pdf file of Toyota earnings)
    Returns a dict with years and RnD expense (billions of yen)
    
    **Only seems to work on some pdfs right now (even though they look the same visually they load
    with slightly different columns it seems...). Can try to update later to be more general.
    
    """
    #scraping earnings data

    #feed in URL and extract all tables from the pdf
    all_dfs = tabula.read_pdf(url, pages='all', multiple_tables=True)
    all_dfs
    
    #find the table which contains the R&D expenses
    for df in all_dfs:
        if 'R&D Expenses (billions of yen)' in df.values:
            RnD_df = df
            RnD_df.reset_index(drop=True, inplace=True)
            break

    RnD_df = RnD_df.set_index("Unnamed: 0")
    
    #get full-year cols, remove the forecast col if present
    filtered_RnD_df = RnD_df.loc[:, RnD_df.apply(lambda x: '12 months' in x.values)]
    forecast_col = filtered_RnD_df.applymap(lambda x: "Forecast" in str(x)).any()
    filtered_RnD_df = filtered_RnD_df.drop(columns=filtered_RnD_df.columns[forecast_col])
    filtered_RnD_df
    
    #set col names to year 

    #find row with date - only row which contains an apostrophe is date row
    #had to drop NaNs first or else error
    filtered_RnD_df = filtered_RnD_df.dropna(how='all')
    date_values = filtered_RnD_df.loc[filtered_RnD_df["Unnamed: 3"].str.contains("'")].values

    #convert date ranges to the year
    #probably is a cleaner way to do this, but since they're the same format I just substringed to get the year 
    #and added 2000
    fiscal_yr = []
    for date_range in date_values[0].tolist():
        end_date_yr = date_range[8:10]
        year = int(end_date_yr) + 2000
        fiscal_yr.append(year)

    #assign years as col names
    filtered_RnD_df.columns = fiscal_yr
    filtered_RnD_df
    
    #extract to dict

    toyota_rnd_expenses = filtered_RnD_df.loc["R&D Expenses (billions of yen)"]
    toyota_rnd_dict = toyota_rnd_expenses.to_dict()
    return toyota_rnd_dict

In [204]:
toyota_rnd_21_22 = retrieve_toyota_rnd_exp("https://global.toyota/pages/global_toyota/ir/financial-results/2022_4q_summary_en.pdf")
#2021 doesn't work (https://global.toyota/pages/global_toyota/ir/financial-results/2021_4q_summary_en.pdf)
toyota_rnd_19_20 = retrieve_toyota_rnd_exp("https://global.toyota/pages/global_toyota/ir/financial-results/2020_4q_summary_en.pdf")
#2019 doesnt work (https://global.toyota/pages/global_toyota/ir/financial-results/2019_4q_summary_en.pdf)
#2018 doesnt work (https://global.toyota/pages/global_toyota/ir/financial-results/archives/en/May_9_2018_summary.pdf)
#2017 doesnt work (https://global.toyota/pages/global_toyota/ir/financial-results/archives/en/May_10_2017_consolidated.pdf)
toyota_rnd_15_16 = retrieve_toyota_rnd_exp("https://global.toyota/pages/global_toyota/ir/financial-results/archives/en/May_11_2016_consolidated.pdf")
toyota_rnd_14_15 = retrieve_toyota_rnd_exp("https://global.toyota/pages/global_toyota/ir/financial-results/archives/en/May_8_2015_consolidated.pdf")
toyota_rnd_13_14 = retrieve_toyota_rnd_exp("https://global.toyota/pages/global_toyota/ir/financial-results/archives/en/May_8_2014_consolidated.pdf")
toyota_rnd_12_13 = retrieve_toyota_rnd_exp("https://global.toyota/pages/global_toyota/ir/financial-results/archives/en/May_8_2013_consolidated.pdf")
toyota_rnd_11_12 = retrieve_toyota_rnd_exp("https://global.toyota/pages/global_toyota/ir/financial-results/archives/en/May_9_2012_consolidated.pdf")

Got stderr: Mar. 30, 2023 2:16:36 P.M. org.apache.fontbox.ttf.CmapSubtable processSubtype14
WARNING: Format 14 cmap table is not supported and will be ignored
Mar. 30, 2023 2:16:37 P.M. org.apache.fontbox.ttf.CmapSubtable processSubtype14
WARNING: Format 14 cmap table is not supported and will be ignored
Mar. 30, 2023 2:16:37 P.M. org.apache.fontbox.ttf.CmapSubtable processSubtype14
WARNING: Format 14 cmap table is not supported and will be ignored
Mar. 30, 2023 2:16:38 P.M. org.apache.fontbox.ttf.CmapSubtable processSubtype14
WARNING: Format 14 cmap table is not supported and will be ignored
Mar. 30, 2023 2:16:38 P.M. org.apache.fontbox.ttf.CmapSubtable processSubtype14
WARNING: Format 14 cmap table is not supported and will be ignored

Got stderr: Mar. 30, 2023 2:16:45 P.M. org.apache.fontbox.ttf.CmapSubtable processSubtype14
WARNING: Format 14 cmap table is not supported and will be ignored
Mar. 30, 2023 2:16:46 P.M. org.apache.fontbox.ttf.CmapSubtable processSubtype14
WARNING: Format 14 cmap table is not supported and will be ignored
Mar. 30, 2023 2:16:46 P.M. org.apache.fontbox.ttf.CmapSubtable processSubtype14
WARNING: Format 14 cmap table is not supported and will be ignored
Mar. 30, 2023 2:16:46 P.M. org.apache.fontbox.ttf.CmapSubtable processSubtype14
WARNING: Format 14 cmap table is not supported and will be ignored
Mar. 30, 2023 2:16:47 P.M. org.apache.fontbox.ttf.CmapSubtable processSubtype14
WARNING: Format 14 cmap table is not supported and will be ignored

/var/folders/7c/glh90ckd7bdfn7cc0xbs4hgr0000gn/T/ipykernel_44702/1067008351.py:27: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  filtered_RnD_df = RnD_df.loc[:, RnD_df.apply(lambda x: '12 months' in x.values)]
/var/folders/7c/glh90ckd7bdfn7cc0xbs4hgr0000gn/T/ipykernel_44702/1067008351.py:27: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  filtered_RnD_df = RnD_df.loc[:, RnD_df.apply(lambda x: '12 months' in x.values)]
/var/folders/7c/glh90ckd7bdfn7cc0xbs4hgr0000gn/T/ipykernel_44702/1067008351.py:27: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  filtered_RnD_df = RnD_df.loc[:, RnD_df.apply(lambda x: '12 months' in x.values)]
/var/folders/7c/glh90ckd7bdfn7cc0xbs4hgr0000gn/T/ipykernel_44702/1067008351.py:27: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  filtered_RnD_df = RnD_df.loc[:, RnD_df.apply(lambda x: '12 months' in x.values)]
/var/folders/7c/glh90ckd7bdfn7cc0xbs4hgr0000gn/T/ipykernel_44702/1067008351.py:27: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  filtered_RnD_df = RnD_df.loc[:, RnD_df.apply(lambda x: '12 months' in x.values)]
/var/folders/7c/glh90ckd7bdfn7cc0xbs4hgr0000gn/T/ipykernel_44702/1067008351.py:27: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  filtered_RnD_df = RnD_df.loc[:, RnD_df.apply(lambda x: '12 months' in x.values)]